<div class="row">
    <div class="col-md-12">
            <h1 class="col-md-12 mt-3" style="text-align: center;">美食介绍</h1>
            <div class="polaroid">
                    <img [src]="recipe.imagePath" class="img-fluid" alt="recipe.name">
                    <div class="container">
                        <p style="text-align: center;" class="col-md-12">{{recipe.name}}</p>
                        <p style="text-align: center;" class="col-md-12">{{recipe.description}}</p>
                    </div>
                  </div>
    </div>
    <div class="col-md-12 mt-2">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.ingredient">
                {{ing.name}}:&emsp;{{ing.amount}}
            </li>
        </ul>
    </div>
</div>

